body{
    margin:0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    flex:auto;
    margin:0px;
    padding:0px;
    width: 100%;
}
.background-dark-grey{
    background-color:#1F2937;
    margin:0px;
    padding:0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
    padding: 0;
    color:white;
    font-size: 20px;
    font-weight: 900;
}
.logo{
    width:100px;
    height: auto;
    margin: 0px;
}
.links a{
    color:white;
    text-decoration: none;
    padding: 0px;
    font-size: 16px;
    font-weight: 100;
    margin-left:20px;
}
.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 200px;
    color: white;
}
.left-intro div{
    width:auto;
    word-wrap: break-word;
}
.right-intro img{
    width: auto;
    padding:10px;
    height: 300px;
}
.showcase{
    margin:0px;
    padding:20px;
    gap:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showcase-cards{
    display: flex;
    justify-content: center;
    gap:50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    border:solid rgb(53, 81, 222) 3px;
    border-radius: 8px;
    margin: 0px;
    width:150px;
}
.card p{
    width:150px;
    text-wrap:wrap;
    text-align: center;
}
.background-grey{
    background-color: #E5E7EB;
    padding: 20px;;
}
.quote-section{
    display:flex;
    flex-direction: column;
    margin:10px 400px;
    
}
.quote{
    font-size: 25px;
    margin: 0px;
    padding: 0px;;
}
.author{
    pad: 0px;
    margin-left: auto;
    font-weight: 700;
    font-size: 20px;
}
.background-cyan{
    background-color: #3882F6;
    display: flex;
    margin:10px 200px;
    border-radius: 5px;;
    padding:10px;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.left-ending h1{
    margin:0px;
    padding:0px;
    color:white;
}
.left-ending p{
    margin:0px;
    padding:0px;
    color:white;
}
.right-ending{
    color:white;
    border:solid white 2px;
    border-radius: 10px;
}
.right-ending p{
    margin:5px 20px;
    padding:0px;
}
*{
    box-sizing: border-box;
}