body{
    margin:0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    flex:auto;
    margin:0px;
    padding:0px;
    width: 100%;
}
.background-grey{
    background-color:#1F2937;
    margin:0px;
    padding:0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
    padding: 0;
    color:white;
    font-size: 20px;
    font-weight: 900;
}
.links a{
    color:white;
    text-decoration: none;
    padding: 0px;
    font-size: 16px;
    font-weight: 100;
    margin-left:20px;
}
.introduction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 200px;
    color: white;
}
.left-intro div{
    width:600px;
    word-wrap: break-word;
}
.right-intro img{
    width: 600px;
}
.showcase{
    margin:0px;
    padding:20px;
    gap:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showcase-cards{
    display: flex;
    gap:50px;
}
.card{
    padding:10px;
    border:1px solid black;
    border-radius: 24px;;
    text-align: center;
    width:250px;
    word-wrap:break-word;
}
*{
    box-sizing: border-box;
}